In [1]:
#THIS TAKES 30 MINS TO RUN
#Description: This program determines if a stock is under or over valued
#calculate the PE ratio Profit/Earings 


import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
#load the data
import yfinance as yf
import pandas as pd

# Function to get stock information
def get_stock_info(ticker):
    stock = yf.Ticker(ticker)
    try:
        pe_ratio = stock.info.get('forwardPE', None)
    except KeyError:
        pe_ratio = None
    try:
        current_price = stock.info.get('currentPrice', None)
    except KeyError:
        current_price = None
    try:
        eps = stock.info.get('trailingEps', None)
    except KeyError:
        eps = None
    return ticker, pe_ratio, current_price, eps

# Placeholder for the DataFrame
df_list = []

# Get the list of tickers on the NYSE (adjust the source as needed)
tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]['Symbol'].tolist()

# Get information for each ticker and append to DataFrame list
for ticker in tickers:
    ticker, pe_ratio, current_price, eps = get_stock_info(ticker)
    df_list.append({'Ticker': ticker, 'PE_ratio': pe_ratio, 'Current_Price': current_price, 'Earnings_per_share': eps})

# Convert the list to DataFrame
df = pd.DataFrame(df_list)

df

    Ticker   PE_ratio  Current_Price  Earnings_per_share
0      MMM  13.006418         101.32              -12.73
1      AOS  18.756320          81.59                3.85
2      ABT  20.585604         105.81                3.21
3     ABBV  13.905472         167.70                3.36
4      ACN  22.459541         294.22               11.04
..     ...        ...            ...                 ...
498    XYL  29.162106         138.52                2.88
499    YUM  21.508635         137.01                5.64
500   ZBRA  20.322320         301.38                5.06
501    ZBH  12.569621         109.23                4.61
502    ZTS  27.984325         178.54                5.19

[503 rows x 4 columns]

In [3]:
#calculater and show the mean P/E ratio

pe_ratio_mean = df.PE_ratio.mean()

pe_ratio_mean

19.512443901999998

In [4]:
#calculate the fair market value
#if Fair Market Value is higher than current price then stock is undervalued
df['Fair_Market_Value'] = pe_ratio_mean * df['Earnings_per_share']

df

    Ticker   PE_ratio  Current_Price  Earnings_per_share  Fair_Market_Value
0      MMM  13.006418         101.32              -12.73        -248.393411
1      AOS  18.756320          81.59                3.85          75.122909
2      ABT  20.585604         105.81                3.21          62.634945
3     ABBV  13.905472         167.70                3.36          65.561812
4      ACN  22.459541         294.22               11.04         215.417381
..     ...        ...            ...                 ...                ...
498    XYL  29.162106         138.52                2.88          56.195838
499    YUM  21.508635         137.01                5.64         110.050184
500   ZBRA  20.322320         301.38                5.06          98.732966
501    ZBH  12.569621         109.23                4.61          89.952366
502    ZTS  27.984325         178.54                5.19         101.269584

[503 rows x 5 columns]

In [5]:
#Calculate and show the value ratio to determined if company ifs over valued or undervalued
df['Over_Under_Ratio'] = df['Current_Price'] / df['Fair_Market_Value']

df

,Ticker,PE_ratio,Current_Price,Earnings_per_share,Fair_Market_Value,Over_Under_Ratio
0,MMM,13.006418,101.32,-12.73,-248.393411,-0.407901
1,AOS,18.756320,81.59,3.85,75.122909,1.086087
2,ABT,20.585604,105.81,3.21,62.634945,1.689313
3,ABBV,13.905472,167.70,3.36,65.561812,2.557891
4,ACN,22.459541,294.22,11.04,215.417381,1.365814
...,...,...,...,...,...,...
498,XYL,29.162106,138.52,2.88,56.195838,2.464951
499,YUM,21.508635,137.01,5.64,110.050184,1.244977
500,ZBRA,20.322320,301.38,5.06,98.732966,3.052476
501,ZBH,12.569621,109.23,4.61,89.952366,1.214309
502,ZTS,27.984325,178.54,5.19,101.269584,1.763017

In [6]:
#create a new column to display a label of under or over valued 
df['Value_Label'] = np.where(df['Over_Under_Ratio'] <1.0, 'Under Valued', 'Fair or Over Valued')

df

,Ticker,PE_ratio,Current_Price,Earnings_per_share,Fair_Market_Value,Over_Under_Ratio,Value_Label
0,MMM,13.006418,101.32,-12.73,-248.393411,-0.407901,Under Valued
1,AOS,18.756320,81.59,3.85,75.122909,1.086087,Fair or Over Valued
2,ABT,20.585604,105.81,3.21,62.634945,1.689313,Fair or Over Valued
3,ABBV,13.905472,167.70,3.36,65.561812,2.557891,Fair or Over Valued
4,ACN,22.459541,294.22,11.04,215.417381,1.365814,Fair or Over Valued
...,...,...,...,...,...,...,...
498,XYL,29.162106,138.52,2.88,56.195838,2.464951,Fair or Over Valued
499,YUM,21.508635,137.01,5.64,110.050184,1.244977,Fair or Over Valued
500,ZBRA,20.322320,301.38,5.06,98.732966,3.052476,Fair or Over Valued
501,ZBH,12.569621,109.23,4.61,89.952366,1.214309,Fair or Over Valued
502,ZTS,27.984325,178.54,5.19,101.269584,1.763017,Fair or Over Valued

In [7]:
#Percent overvalued calc
df['Value_Percent'] = abs(df['Over_Under_Ratio']-1)*100

df

,Ticker,PE_ratio,Current_Price,Earnings_per_share,Fair_Market_Value,Over_Under_Ratio,Value_Label,Value_Percent
0,MMM,13.006418,101.32,-12.73,-248.393411,-0.407901,Under Valued,140.790132
1,AOS,18.756320,81.59,3.85,75.122909,1.086087,Fair or Over Valued,8.608680
2,ABT,20.585604,105.81,3.21,62.634945,1.689313,Fair or Over Valued,68.931257
3,ABBV,13.905472,167.70,3.36,65.561812,2.557891,Fair or Over Valued,155.789149
4,ACN,22.459541,294.22,11.04,215.417381,1.365814,Fair or Over Valued,36.581365
...,...,...,...,...,...,...,...,...
498,XYL,29.162106,138.52,2.88,56.195838,2.464951,Fair or Over Valued,146.495121
499,YUM,21.508635,137.01,5.64,110.050184,1.244977,Fair or Over Valued,24.497748
500,ZBRA,20.322320,301.38,5.06,98.732966,3.052476,Fair or Over Valued,205.247590
501,ZBH,12.569621,109.23,4.61,89.952366,1.214309,Fair or Over Valued,21.430935
502,ZTS,27.984325,178.54,5.19,101.269584,1.763017,Fair or Over Valued,76.301702

In [8]:
#show only a list of stocks that are concidered under valued
df[df.Value_Label =='Under Valued'].Ticker

0       MMM
8       AFL
16     ALLE
17      LNT
21       MO
       ...
488     WFC
491     WDC
494     WMB
496    WYNN
497     XEL
Name: Ticker, Length: 203, dtype: object